<!--
  Generated template for the Done page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Done</ion-title>
    <ion-buttons start>
      <button ion-button (click)="btnOptions()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <p style="text-align:center" *ngIf="toggleOptions">Swipe left to delete</p>
  <ion-list>
    <ion-item-sliding *ngFor="let item of doneItems">
      <ion-item *ngIf="toggleOptions" (swipeleft)="removeItem(item)">
        {{item}}
      </ion-item>
        <ion-item *ngIf="!toggleOptions">
          {{item}}
        </ion-item>
        <ion-item-options side="right" (click)="deleteItem()">
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
