<ion-header>
  <ion-navbar>
    <ion-title>
      Todos
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="logout()">
        Logout
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="btnOptions()">
        <ion-icon name="settings"></ion-icon>
      </button>
      <button ion-button (click)="iconAddTodo()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <!--ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons-->
  </ion-navbar>
</ion-header>

<ion-content id="activePage">
  <p style="text-align:center" *ngIf="toggleOptions">Swipe left to delete</p>

  <div *ngIf="toggleNew">
    <ion-card id="transparent">
      <ion-card id="noPadding">
        <ion-item class="inputField">
            <ion-input class="input-wrapper" [(ngModel)]="newItem" placeholder="    Task"></ion-input>
        </ion-item>
      </ion-card>
        <ion-buttons end style="padding-top:5px">
                <button ion-button small color="danger" (click)="btnCancel()">Cancel</button>
                <button ion-button small color="accept" (click)="btnAdd(newItem)">Add</button>
        </ion-buttons>
    </ion-card>
   </div>

  <ion-list>
    <ion-item-sliding *ngFor="let item of todos">
      <ion-item *ngIf="toggleOptions" (swipeleft)="slideRemove(item)">
        {{item}}
      </ion-item>
      <ion-item *ngIf="!toggleOptions">
          {{item}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="accept" *ngIf="!toggleOptions" (click)="btnDone(item)">
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>